{% load static %}
<!--  -->
{% load humanize %}
<div id="desktop-table" class="live-search-list">
  <div class="container">
    <div class="desktop-table-intro">
      <div class="card">
        <div class="card-body">
          <table class="table table-hover" id="invoice_table">
            <thead>
              <tr>
                <th scope="col">Client</th>
                <th scope="col">Email</th>
                <th scope="col">Payment date</th>
                <th scope="col">Amount</th>
                <th scope="col">Payment for</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for invoice in invoices %}
              <tr id="search_invoice">
                <td id="client_name">
                  <img
                    src="{{invoice.client_name.imageURL}}"
                    class="img-fluid rounded-circle"
                    id="avatar-img"
                    alt="avatar-img"
                  />
                  {{invoice.client_name}}
                </td>
                <td>{{invoice.client_name.email | truncatechars:25}}</td>
                <td>{{invoice.payment_date|date:"d F, Y"}}</td>

                <td>
                  {% if invoice.currency == "GHS" %}
                  <!--  -->
                  ¢{{ invoice.total|floatformat:2|intcomma }}
                  <!--  -->
                  {% elif invoice.currency == "USD" %}
                  <!--  -->
                  ${{ invoice.total|floatformat:2|intcomma }}
                  <!--  -->
                  {% elif invoice.currency == "GBP" %}
                  <!--  -->
                  £{{ invoice.total|floatformat:2|intcomma }}
                  <!--  -->
                  {% elif invoice.currency == "EUR" %}
                  <!--  -->
                  €{{ invoice.total|floatformat:2|intcomma }}
                  <!--  -->
                  {% elif invoice.currency == "NGN" %}
                  <!--  -->
                  ₦{{ invoice.total|floatformat:2|intcomma }}
                  <!--  -->
                  {% endif %}
                </td>

                <td>{{invoice.project_name | truncatechars:17}}</td>

                {% if invoice.invoice_status == 'Pending' %}
                <td id="unpaid_status">
                  <span class="badge">
                    {{invoice.invoice_status}}
                    <img
                      src="{% static '/images/clock.png' %}"
                      class="img-fluid"
                      id="clock-img"
                      alt="clock-img"
                    />
                  </span>
                </td>

                {% else %}
                <td id="paid_status">
                  <span class="badge">
                    {{invoice.invoice_status}}
                    <img
                      src="{% static '/images/paid-icon.svg' %}"
                      class="img-fluid"
                      id="clock-img"
                      alt="clock-img"
                    />
                  </span>
                </td>
                {% endif %}
                <td>
                  <a href="{% url 'invoice-details' invoice.id %}">
                    <img
                      src="{% static '/images/list.png' %}"
                      class="img-fluid"
                      id="open_invoice-link"
                      alt="open_invoice-link"
                    />
                    view Invoice
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- end table -->
        </div>
        <!-- end card-body -->
      </div>
      <!-- end card -->

      <!--  Page navigation -->
      {% include 'invoice/page-paginator.html' %}
      <!-- end pagination -->
    </div>
    <!-- End desktop-table-intro-->
  </div>
  <!-- End container -->
</div>
