{% load static %}
<!--  -->
{% load humanize %}
<!DOCTYPE html>
<html lang="en" class="js has-scroll-init has-scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Empower your invoicing experience with Swift Bill Invoice App."
    />
    <meta name="keywords" content="invoice app, billing, invoicing software" />

    <meta name="author" content="the_desiinger" />
    <link rel="icon" href="{% static '/images/favicon.svg' %}" />
    <title>Swift Bill | Invoice-details Page</title>

    <!-- Preload CSS -->
    <link href="{% static '/css/normalize.css' %}" />
    <link
      rel="preload"
      as="style"
      href="{% static '/css/invoice-details.css' %}"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/invoice-details.css' %}" />

    <!--  -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />

    <script>
      document.documentElement.className = "js";
      var supportsCssVars = function () {
        var e,
          t = document.createElement("style");
        return (
          (t.innerHTML = "root: { --tmp-var: bold; }"),
          document.head.appendChild(t),
          (e = !!(
            window.CSS &&
            window.CSS.supports &&
            window.CSS.supports("font-weight", "var(--tmp-var)")
          )),
          t.parentNode.removeChild(t),
          e
        );
      };
      supportsCssVars() ||
        alert(
          "Please view this work in a modern browser that supports CSS Variables."
        );
    </script>
  </head>
  <body
    id="pageTop"
    class="page-content"
    data-spy="scroll"
    data-target="#mainNav"
  >
    <!--======================== Main-Section ================================-->
    <main>
      <!--=========================================== smooth-scroll-effect ===============================-->
      <div data-scroll class="page page--layout-2" id="main">
        <div class="content content--full content--alternate"></div>
        <!-- End content -->

        <!--=========================================== Hero-Text ===============================-->
        <div id="invoice--details-hero">
          <div class="container-fluid">
            <div class="invoice--details-intro">
              <a href="javascript:history.back()">
                <img
                  src="{% static '/images/left.png' %}"
                  class="img-fluid"
                  id="return_back"
                  alt="return_back-img"
                />
              </a>

              <!--  -->
              <div class="card d-flex mx-auto" id="main--card">
                <div class="card-body">
                  <h5>
                    Edit Invoice
                    <!--  -->
                    {% if invoice.invoice_status == 'Paid' %}
                    <span id="paid">{{invoice.invoice_status}}</span>
                    {% else %}
                    <span id="pending">{{invoice.invoice_status}}</span>
                    {% endif %}
                  </h5>
                  <a
                    href="{% url 'preview-invoice' invoice.id %}"
                    class="btn"
                    id="preview--invoice"
                  >
                    <ion-icon name="download-outline"></ion-icon>
                    <span>Download Invoice</span>
                  </a>

                  <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <!--  -->
                    <input
                      type="submit"
                      id="save--btn"
                      name="updateInvoice"
                      class="btn dots"
                      value="save Invoice changes"
                    />
                    <!--  -->

                    <hr id="offcanvas--header-line" />

                    <div class="row">
                      <div class="col-md-12">
                        <div class="mb-3">
                          <label
                            for="exampleFormControlInput1"
                            class="form-label"
                            >Payment for?</label
                          >
                          {{form.project_name}}
                        </div>
                        <!-- end payment--for -->
                      </div>
                      <!-- end col-payment--for -->

                      <div class="col-md-6">
                        <div class="mb-3">
                          <label for="exampleClientName" class="form-label"
                            >Client Name</label
                          >
                          {{form.client_name}}
                        </div>
                        <!-- end client--name -->
                      </div>
                      <!-- end col-client--name -->

                      <div class="col-md-6">
                        <div class="mb-3">
                          <label for="exampleProjectDuration" class="form-label"
                            >Project Duration</label
                          >
                          {{form.project_duration}}
                        </div>
                        <!-- end project-duration -->
                      </div>
                      <!-- end col-project-duration -->

                      <div class="col-md-4">
                        <div class="mb-3">
                          <label for="exampleInvoiceStatus" class="form-label"
                            >Status</label
                          >
                          {{form.invoice_status}}
                        </div>
                        <!-- end invoice-status -->
                      </div>
                      <!-- end col-invoice-status -->

                      <div class="col-md-4">
                        <div class="mb-3">
                          <label for="exampleInvoiceDate" class="form-label"
                            >Payment Date</label
                          >
                          {{form.payment_date}}
                        </div>
                        <!-- end payment--date -->
                      </div>
                      <!-- end col-payment--date -->

                      <div class="col-md-4">
                        <div class="mb-3">
                          <label for="exampleCurrency" class="form-label"
                            >Currency</label
                          >
                          {{ form.currency }}
                        </div>
                        <!-- end currency -->
                      </div>
                      <!-- end col-currency -->

                      <div class="col-md-12">
                        <div class="card" id="invoice--img-card">
                          <div class="card-body">
                            <div class="mb-3">
                              <label for="formFile" class="form-label">
                                select a new image or keep the current one.
                                <!--  -->
                                (<img
                                  src="{{invoice.invoiceImageURL}}"
                                  class="img-fluid"
                                  id="invoice--img-default"
                                  alt="invoice--img-default"
                                />)
                              </label>
                              {{form.invoice_image}}
                            </div>
                          </div>
                          <!-- end card-body -->
                        </div>
                      </div>
                      <!-- end col-invoice--img-default -->
                    </div>
                    <!-- end row -->
                  </form>
                  <!-- end form -->

                  <!--  -->
                  <div class="card">
                    <div class="card-body">
                      <div id="input-wrapper">
                        <!-- take to a new file -->
                        {% include 'invoice/add-items.html' %}
                        <!-- end row -->
                      </div>
                      <!-- end input-wrapper -->

                      <hr id="offcanvas--line" />

                      <!-- list of invoice-items -->
                      {% include 'invoice/invoice-items.html' %}
                      <!-- end display--items -->

                      <!-- sub-total -->
                      <div id="sub-total">
                        <a href="#">
                          Sub-total
                          <h4
                            id="total_price"
                            data-currency="{{ invoice.currency }}"
                          >
                            {% include 'invoice/items-total.html' %}
                          </h4>
                        </a>
                      </div>
                      <!-- end sub-total -->
                    </div>
                    <!-- end card-body -->
                  </div>
                  <!-- end invoice-item--card -->

                  <!--  -->
                  <hr id="offcanvas--line" />

                  <a
                    id="delete--btn"
                    class="btn"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteAccountModal"
                    ><span>delete invoice</span
                    ><ion-icon name="trash-outline"></ion-icon
                  ></a>
                  <!--  -->
                </div>
                <!-- end card-body -->
              </div>
              <!--  -->
            </div>
            <!-- End invoice--details-intro-->
          </div>
          <!-- End container-fluid -->
        </div>
        <!-- End invoice--details-hero -->

        <!--=========================================== delete-Invoice-Modal--layout ===============================-->
        <div id="delete-invoice-modal">
          <div
            class="modal fade"
            id="deleteAccountModal"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title" id="staticBackdropLabel">
                    Are you absolutely sure?
                  </h6>
                  <img
                    id="close_img"
                    src="{% static '/images/cancel.png' %}"
                    class="img-fluid"
                    alt="close_img"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  />
                </div>
                <div class="modal-body">
                  <div id="modal-wrapper">
                    <div id="warning">
                      <h3>
                        Unexpected bad things will happen if you don't read
                        this!
                      </h3>
                    </div>
                    <!-- end warning -->
                    <h4>
                      Are sure you want to delete this Invoice? This action
                      cannot be undone. This will permanently delete this
                      Invoice with all saved info.
                    </h4>

                    <h6>
                      Please click on the Delete Button to confirm, or click
                      Cancel
                    </h6>
                    <form action="" method="POST">
                      {% csrf_token %}
                      <div class="modal-footer">
                        <a href="#" data-bs-dismiss="modal" aria-label="Close">
                          <h6>
                            <span>Cancel, keep this Invoice</span>
                          </h6>
                        </a>
                        <input
                          type="submit"
                          class="btn"
                          name="delete_invoice"
                          id="delete_Invoice"
                          value="delete invoice"
                        />
                      </div>
                      <!-- End modal-footer-->
                    </form>
                    <!-- End form-->
                  </div>
                  <!-- End modal-wrapper-->
                </div>
                <!-- End modal-body-->
              </div>
              <!-- End modal-content-->
            </div>
          </div>
          <!-- End modal-->
        </div>
        <!-- End delete-folder-modal-->
      </div>
      <!-- End page--layout -->
    </main>
    <!-- End Main-Section -->

    <!--=============================================== JavaScript ===================================-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Custom Links -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="{% static '/js/jquery-min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/invoice-details.js' %}"></script>
  </body>
</html>
