{% load static %}
<!--  -->
{% load humanize %}
<div id="chart--data">
  <div class="container">
    <div class="chart--data-intro">
      <div class="row">
        <div class="col-md-8" id="myChart-col">
          {% if paid_total_usd == 0 %}
          <img
            src="{% static 'images/graph.png' %}"
            id="graph_img"
            class="img-fluid d-flex mx-auto"
            alt="graph_img"
          />
          <h4>No Data available yet!</h4>
          {% else %}
          <canvas id="myChart"></canvas>
          {% endif %}
        </div>
        <!-- end col -->

        <div class="col-md-4 align-self-center">
          <div class="card">
            <div class="card-body">
              <h3>
                Clients
                <ion-icon name="unlink-outline"></ion-icon>
              </h3>
              <hr />
              {% if clients_num == 0 %}
              <h4>No Clients created yet!</h4>
              <div class="d-flex justify-content-center">
                <a href="{% url 'clients' %}" id="clients--btn" class="btn">
                  <ion-icon name="create-outline"></ion-icon>
                  Create new clients</a
                >
              </div>

              {% elif clients_num < 3 %}
              <h4>Data appears with three or more clients.</h4>

              {% else %}
              <div class="clients_sec">
                <div class="row">
                  {% for client in clients|slice:":3" %}
                  <div class="col-4 col-md-3">
                    <div id="initial_con">
                      <h6>{{client.name|first|upper}}</h6>
                    </div>
                    <!-- end initial_con -->
                    <small>{{client.first_name | truncatechars:7}}</small>
                  </div>
                  <!-- end col -->
                  {% endfor %}
                  <!--  -->
                  <div class="col-4 col-md-3">
                    <a href="{% url 'clients' %}">
                      <div id="initial_con">
                        <h6>
                          <ion-icon name="arrow-forward-outline"></ion-icon>
                        </h6>
                      </div>
                      <!-- end initial_con -->
                      <small>View all</small>
                    </a>
                  </div>
                  <!-- end col -->
                </div>
                <!-- end row -->
              </div>
              <!-- end clients_sec -->
              {% endif %}
            </div>
            <!-- end card-body -->
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- End chart--data-intro -->
  </div>
  <!-- End container -->
</div>
<!-- End chart--data -->

<script>
  const ctx = document.getElementById("myChart").getContext("2d");

  new Chart(ctx, {
    type: "line",
    data: {
      labels: {{ labels|safe|default:"[]"|safe }},
      datasets: [
        {
          label: "Invoice Revenue",
          data: {{ data|safe|default:"[]"|safe }},
          borderWidth: 1,
          fill: false,
          pointStyle: "rectRot",
          pointRadius: 10,
          pointHoverRadius: 15,
          borderColor: "#9384d1",
        },
      ],
    },
    options: {
      scales: {
        x: {
          ticks: {
            color: "white",
            borderColor: "white",
          },
          scaleLabel: {
            color: "white",
            borderColor: "white",
          },
        },
        y: {
          beginAtZero: true,
          ticks: {
            color: "white",
            precision: 0, // this will show only whole numbers
            min: 1000, // this will set the minimum value of the y axis
            max: 5000, // this will set the maximum value of the y axis
            stepSize: 1500, // this will set the interval between the tick marks
            callback: function (value) {
              // if the value is zero, return an empty string
              if (value === 0) {
                return "";
              }
              // if the value is greater than or equal to 1000, return the value divided by 1000 with a K suffix
              if (value >= 1000) {
                return value / 1000 + "K";
              }
              // otherwise, return the value as it is
              return value;
            },
          },
          scaleLabel: {
            color: "white",
          },
        },
      },
    },
  });
</script>
