<!--  -->
{% load humanize %}
<!--  -->
<!-- Display item price in Ghanaian Cedis -->
{% if invoice.currency == "GHS" %}
<!--  -->
{% if items_total != None %}
<!--  -->
¢{{ items_total|floatformat:2|intcomma }}
<!--  -->
{% else %}
<!--  -->
¢0.00
<!--  -->
{% endif %}
<!-- Display item price in US Dollars  -->
{% elif invoice.currency == "USD" %}
<!--  -->
{% if items_total != None %}
<!--  -->
${{ items_total|floatformat:2|intcomma }}
<!--  -->
{% else %}
<!--  -->
$0.00
<!--  -->
{% endif %}
<!-- Display item price in British Pounds -->
{% elif invoice.currency == "GBP" %}
<!--  -->
{% if items_total != None %}
<!--  -->
£{{ items_total|floatformat:2|intcomma }}
<!--  -->
{% else %}
<!--  -->
£0.00
<!--  -->
{% endif %}
<!-- Display item price in Euros -->
{% elif invoice.currency == "EUR" %}
<!--  -->
{% if items_total != None %}
<!--  -->
€{{ items_total|floatformat:2|intcomma }}
<!--  -->
{% else %}
<!--  -->
€0.00
<!--  -->
{% endif %}
<!-- Display item price in Nigerian Naira -->
{% elif invoice.currency == "NGN" %}
<!--  -->
{% if invoice.total != None %}
<!--  -->
₦{{ invoice.total|floatformat:2|intcomma }}
<!--  -->
{% else %}
<!--  -->
₦0.00
<!--  -->
{% endif %}
<!--  -->
{% endif %}
