{% load static %}
<!--  -->
{% load humanize %}
<div id="mobile-table" class="live-search-list">
  <div class="container-fluid">
    <div class="mobile-table-intro">
      {% for invoice in invoices %}
      <div class="card" id="search_invoice">
        <div class="card-body">
          <div id="invoice--container">
            <h4>
              <img
                src="{{invoice.client_name.imageURL}}"
                class="img-fluid rounded-circle"
                id="avatar-img"
                alt="avatar-img"
              />
              {{invoice.client_name}}
            </h4>

            <h5>
              {{invoice.client_name.email | truncatechars:25}}
              <!--  -->
              {% if invoice.due <= 3 and invoice.invoice_status != 'Paid' %}
              <span class="badge" id="due_date"> overdue close </span>
              <!--  -->
              {% else %}
              <!--  -->
              {% if invoice.invoice_status == 'Pending' %}
              <span class="badge" id="unpaid_status">
                <img
                  src="{% static '/images/pending.svg' %}"
                  class="img-fluid"
                  id="clock-img"
                  alt="clock-img"
                />
                {{invoice.invoice_status}}
              </span>
              {% else %}
              <span class="badge" id="paid_status">
                <img
                  src="{% static '/images/paid.svg' %}"
                  class="img-fluid"
                  id="clock-img"
                  alt="clock-img"
                />
                {{invoice.invoice_status}}
              </span>
              <!--  -->
              {% endif %}
              <!--  -->
              {% endif %}
            </h5>

            <hr id="divider--line" />

            <h5 id="invoice--amount">
              <strong>
                {% if invoice.currency == "GHS 🇬🇭" %}
                <!--  -->
                ¢{{ invoice.total|floatformat:2|intcomma }}
                <!--  -->
                {% elif invoice.currency == "USD 🇺🇸" %}
                <!--  -->
                ${{ invoice.total|floatformat:2|intcomma }}
                <!--  -->
                {% elif invoice.currency == "GBP 🇬🇧" %}
                <!--  -->
                £{{ invoice.total|floatformat:2|intcomma }}
                <!--  -->
                {% elif invoice.currency == "'EUR 🇪🇺" %}
                <!--  -->
                €{{ invoice.total|floatformat:2|intcomma }}
                <!--  -->
                {% elif invoice.currency == "NGN 🇳🇬" %}
                <!--  -->
                ₦{{ invoice.total|floatformat:2|intcomma }}
                <!--  -->
                {% endif %}
              </strong>
              <span class="text-secondary"
                >{{invoice.payment_date|date:"d F, Y"}}</span
              >
            </h5>

            <a href="{% url 'invoice-details' invoice.id %}">
              <img
                src="{% static '/images/list.png' %}"
                class="img-fluid"
                id="open_invoice-link"
                alt="open_invoice-link"
              />
              view Invoice
            </a>
          </div>
          <!-- end invoice--container -->
        </div>
        <!-- end card-body -->
      </div>
      {% endfor %}
      <!-- end card / invoice--table -->

      <!--  Page navigation -->
      {% include 'invoice/page-paginator.html' %}
      <!-- end pagination -->
    </div>
    <!-- End mobile-table-intro-->
  </div>
  <!-- End container-fluid -->
</div>
