{% load static %}
<!--  -->
{% load humanize %}
<div id="stats--data">
  <div class="container">
    <div class="stats--data-intro">
      <div class="row">
        <div class="col-md-8" id="monthly-stats">
          {% if paid_total_usd == 0 %}
          <img
            src="{% static 'images/receipt.svg'%}"
            class="img-fluid d-flex mx-auto reciept"
            id="reciept--img"
            alt="reciept--img"
          />
          <h4 id="no_data">No Data available yet!</h4>
          {% else%}
          <div class="card">
            <div class="card-body">
              <h3>
                monthly invoice activity
                <img
                  src="{% static 'images/analytics.svg'%}"
                  class="img-fluid"
                  id="chart-icon"
                  alt="chart-icon"
                />

                <span>
                  <img
                    src="{% static 'images/dash-icon.svg'%}"
                    class="img-fluid"
                    id="dash-icon"
                    alt="dash-icon"
                  />
                </span>
              </h3>
              <!--  -->
              <img
                src="{% static 'images/dash_line.svg'%}"
                class="img-fluid"
                id="dash-line"
                alt="dash-line"
              />
              <!--  -->
              {% for data in monthly_activity|slice:":"|slice:num %}
              <h2>
                <img
                  src="{% static 'images/coins.png'%}"
                  class="img-fluid"
                  id="coin-img"
                  alt="coin-img"
                />
                {{ data.month }}
                <span id="amount"
                  >${{ data.amount|floatformat:2|intcomma }}</span
                >
              </h2>
              {% endfor %}

              <!--  -->
              <img
                src="{% static 'images/dash_line.svg'%}"
                class="img-fluid"
                id="dash-line"
                alt="dash-line"
              />
              <!--  -->

              <img
                src="{% static 'images/receipt.svg'%}"
                class="img-fluid d-flex mx-auto"
                id="reciept--img"
                alt="reciept--img"
              />
              <!--  -->

              <h5>
                Total amount for [ 2024 ]
                <span>${{paid_total_usd|floatformat:2|intcomma}}</span>
              </h5>
            </div>
            <!-- end card-body -->
          </div>
          <!-- end card -->
          {% endif %}
        </div>
        <!-- end monthly-stats -->

        <div class="col-md-4 align-self-center">
          <div class="card">
            <div class="card-body">
              <h3>
                Clients
                <ion-icon name="unlink-outline"></ion-icon>
              </h3>
              <hr />
              {% if clients_num == 0 %}
              <h4 id="no_clients">No Clients created yet!</h4>
              <div class="d-flex justify-content-center">
                <a href="{% url 'clients' %}" id="clients--btn" class="btn">
                  <ion-icon name="create-outline"></ion-icon>
                  Create new clients</a
                >
              </div>

              {% elif clients_num < 3 %}
              <h4 id="text-data">Data appears with three or more clients.</h4>

              {% else %}
              <div class="clients_sec">
                <div class="row">
                  {% for client in clients|slice:":3" %}
                  <div class="col-4 col-md-3">
                    <div id="initial_con">
                      <h6>{{client.name|first|upper}}</h6>
                    </div>
                    <!-- end initial_con -->
                    <small>{{client.first_name | truncatechars:7}}</small>
                  </div>
                  <!-- end col -->
                  {% endfor %}
                  <!--  -->
                  <div class="col-4 col-md-3">
                    <a href="{% url 'clients' %}">
                      <div id="initial_con">
                        <h6>
                          <ion-icon name="arrow-forward-outline"></ion-icon>
                        </h6>
                      </div>
                      <!-- end initial_con -->
                      <small>View all</small>
                    </a>
                  </div>
                  <!-- end col -->
                </div>
                <!-- end row -->
              </div>
              <!-- end clients_sec -->
              {% endif %}
            </div>
            <!-- end card-body -->
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- End stats--data-intro -->
  </div>
  <!-- End container -->
</div>
<!-- End stats--data -->
