<!--  -->
{% load humanize %}
<!--  desktop-preview-invoice -->
<div id="desktop-preview-invoice">
  <!-- invoice header-titles -->
  <div class="invoice-header-titles">
    <div class="header-title">
      <h2>Invoice Item(s)</h2>
    </div>
    <!-- end header-title -->

    <div class="header-title" id="qnty">
      <h2>Quantity</h2>
    </div>
    <!-- end header-title -->

    <div class="header-title" id="price">
      <h2>Price</h2>
    </div>
    <!-- end header-title -->

    <div class="header-title">
      <h2 class="text-end">Total</h2>
    </div>
    <!-- end header-title -->
  </div>
  <!-- end invoice header-titles -->

  <div id="line--divider"></div>

  <!-- invoice data-titles -->
  {% for item in items %}
  <div class="flex-container">
    <div class="flex-item">
      <h3>{{item.title}}</h3>
    </div>
    <!-- end flex-item -->

    <div class="flex-item" id="qnty">
      <h3>{{item.quantity}}</h3>
    </div>
    <!-- end flex-item -->

    <div class="flex-item" id="price">
      <h3>
        {% if invoice.currency == "GHS 🇬🇭" %}
        <!--  -->
        ¢{{ item.price|floatformat:2|intcomma }}
        <!--  -->
        {% elif invoice.currency == "USD 🇺🇸" %}
        <!--  -->
        ${{ item.price|floatformat:2|intcomma }}
        <!--  -->
        {% elif invoice.currency == "GBP 🇬🇧" %}
        <!--  -->
        £{{ item.price|floatformat:2|intcomma }}
        <!--  -->
        {% elif invoice.currency == "EUR 🇪🇺" %}
        <!--  -->
        €{{ item.price|floatformat:2|intcomma }}
        <!--  -->
        {% elif invoice.currency == "NGN 🇳🇬" %}
        <!--  -->
        ₦{{ item.price|floatformat:2|intcomma }}
        <!--  -->
        {% endif %}
      </h3>
    </div>
    <!-- end flex-item -->

    <div class="flex-item text-end">
      <h3>
        {% if invoice.currency == "GHS 🇬🇭" %}
        <!--  -->
        ¢{{ item.total|floatformat:2|intcomma }}
        <!--  -->
        {% elif invoice.currency == "USD 🇺🇸" %}
        <!--  -->
        ${{ item.total|floatformat:2|intcomma }}
        <!--  -->
        {% elif invoice.currency == "GBP 🇬🇧" %}
        <!--  -->
        £{{ item.total|floatformat:2|intcomma }}
        <!--  -->
        {% elif invoice.currency == "EUR 🇪🇺" %}
        <!--  -->
        €{{ item.total|floatformat:2|intcomma }}
        <!--  -->
        {% elif invoice.currency == "NGN 🇳🇬" %}
        <!--  -->
        ₦{{ item.total|floatformat:2|intcomma }}
        <!--  -->
        {% endif %}
      </h3>
    </div>
    <!-- end flex-item -->
  </div>
  <!-- end invoice-items-container -->

  <div id="line--divider"></div>
  {% endfor %}

  <!-- end invoice data-titles -->
</div>
<!--  end desktop-preview-invoice -->
