*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background: var(--main-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.line {
  position: relative;
  overflow: hidden;
  display: flex;
}
.line div {
  visibility: hidden;
}

/* Fonts */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Apercu-Bold";
  src: url("../fonts/Apercu-Bold.woff2");
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "GTAmerica-Light";
  src: url("../fonts/GTAmerica-Light.woff2");
}
.page-content {
  --main-color: #171b23;
  --text-color: #f6f6f3;
  --header-font: "Apercu-Bold";
  --text-font: "GTAmerica-Light";
}
a {
  text-decoration: none;
  color: var(--accent-color);
}
a:hover {
  text-decoration: none;
  color: var(--accent-color);
}

/*change color of text highlight*/
::-moz-selection {
  color: var(--main-color);
  background: var(--text-color);
}

::selection {
  color: var(--main-color);
  background: var(--text-color);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 6px;
}

/* django message styles */
#alert_message {
  width: 80%;
  text-align: center;
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 1.1rem;
  margin-top: 2%;
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 100;
  border: none;
}
.alert-error {
  background: #dc8686 !important;
  color: var(--main-color) !important;
}
.alert-success {
  background: #c3e2c2 !important;
  color: var(--main-color) !important;
}

/****************************************** NAVIGATION ************************************/
#mainNav {
  transform: translateY(0);
  transition: padding-top 0.3s, padding-bottom 0.3s;
  padding-top: 3px;
  padding-bottom: 0px;
  background: var(--text-color);
  transform: translateY(0);
  opacity: 1;
  z-index: 9;
  width: 100vw;
}
#logo {
  width: 35px;
  height: auto;
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
}
#profile_img {
  width: 35px;
}
#mainNav small {
  font-size: 1.8vh;
  font-family: var(--text-font);
  color: var(--main-color);
  letter-spacing: 1px;
  vertical-align: middle;
}
.left--links a {
  font-family: var(--text-font);
  color: #999;
  letter-spacing: 1px;
}

/****************************************** Hero-Section ************************************/
#hero {
  margin-top: 22%;
}
.hero-intro {
  margin: 3%;
}
.hero-intro h1 {
  font-size: 4.1vh;
  font-family: var(--header-font);
  color: var(--text-color);
  letter-spacing: 1px;
  line-height: 1;
}
.hero-intro p {
  font-size: 2.5vh;
  font-family: var(--text-font);
  color: var(--text-color);
  letter-spacing: 1px;
}
.hero-intro p span {
  font-size: 2vh;
  margin-top: 10px;
  border: 1px solid #f6f6f34e;
  color: #f6f6f3c2;
}
.calender-img {
  width: 18px;
  vertical-align: middle;
}

/****************************************** Card-Section ************************************/
#card {
  margin-top: 8%;
}
.card-intro {
  margin: 5%;
}
.card-intro hr {
  background: var(--text-color);
  opacity: 1;
}
.card-intro .card {
  border: 1px solid var(--text-color);
  background: #f7f7f7f9;
  margin-top: 4%;
}
.card-intro h6 {
  font-size: 2.1vh;
  font-family: var(--text-font);
  color: var(--main-color);
  letter-spacing: 1px;
}
.card-intro .icon {
  width: 28px;
}
.card-intro .data {
  background: #fff;
  padding-top: 15%;
  padding-bottom: 1%;
  border-radius: 6px;
}
.card-intro p {
  font-size: 2.5vh;
  font-family: var(--header-font);
  color: var(--main-color);
  letter-spacing: 1px;
  text-align: center;
}
.card-intro p span {
  color: #999999;
}

/****************************************** stats--Data-Section ************************************/
#stats--data {
  margin-top: 8%;
  margin-bottom: 5%;
}
.stats--data-intro {
  margin: 3%;
}
.stats--data-intro .card {
  background: #f7f7f7f9;
  margin-top: 13%;
}
.stats--data-intro h3 {
  font-size: 1.3rem;
  font-family: var(--text-font);
  color: var(--main-color);
  letter-spacing: 1px;
}
.stats--data-intro h3 ion-icon {
  vertical-align: middle;
}
.stats--data-intro hr {
  margin-top: -1%;
  margin-bottom: 5%;
}
/*  */
.stats--data-intro #initial_con {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #171b23;
  color: var(--text-color);
}
.stats--data-intro #initial_con h6 {
  font-size: 2.3vh;
  font-family: var(--header-font);
  color: var(--text-color);
  letter-spacing: 1px;
  text-align: center;
  padding-top: 22%;
}
.clients_sec small {
  font-size: 1.9vh;
  font-family: var(--text-font);
  color: var(--main-color);
  letter-spacing: 1px;
}
.clients_sec a #initial_con {
  margin-top: 15%;
  background: #9484d16b;
  color: var(--text-color);
}
#clients--btn {
  color: var(--text-color);
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 1.3rem;
  background: #9384d1;
  transition: all 0.5s ease-in-out;
}
#clients--btn:hover {
  background: #9484d1d6;
  color: var(--text-color);
  transition: all 0.5s ease-in-out;
}
#clients--btn ion-icon {
  vertical-align: middle;
}
#no_clients {
  color: var(--main-color);
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 1.3rem;
}

/* monthly-stats */
#monthly-stats h3 span {
  float: right;
}
#dash-icon {
  width: 25px;
}
#monthly-stats h2 {
  font-size: 2.1vh;
  font-family: var(--text-font);
  color: var(--main-color);
  letter-spacing: 1px;
  margin-top: 4%;
}
#monthly-stats #coin-img {
  width: 22px;
  vertical-align: middle;
}
#monthly-stats h2 #amount {
  float: right;
}
#monthly-stats #reciept--img {
  width: 75px;
}
#monthly-stats h5 {
  font-size: 1.9vh;
  font-family: var(--text-font);
  color: #9ba4b5;
  letter-spacing: 1px;
  margin-top: 15%;
}
#monthly-stats h5 span {
  font-size: 2.1vh;
  color: var(--main-color);
  font-family: var(--header-font);
  float: right;
}
#no_data {
  color: var(--text-color);
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: -2%;
}

/****************************************** Footer-Section ************************************/
footer {
  margin-top: -2%;
}
footer p {
  color: var(--text-color);
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 1.8vh;
  text-align: center;
}

/****************************************** Add-Invoice-modal ************************************/

/********************** Extra small devices (portrait phones, less than 576px) ****************************/
@media (max-width: 575.98px) {
  #monthly-stats #paid-status,
  #pending-status,
  #chart-icon {
    display: none;
  }
}
/************************ Small devices (landscape phones, 576px and up) *****************************/
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    display: none;
  }
}
/***************************** Medium devices (tablets, 768px and up) ********************************/
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    display: none;
  }
}
/********************************** Large devices (desktops, 992px and up) *********************************/
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* body {
    display: none;
  } */
}
/************************ Extra large devices (large desktops, 1200px and up) ********************************/
@media (min-width: 1200px) {
  /* django message styles */
  #alert_message {
    width: 25%;
    font-size: 1rem;
    margin-top: 2%;
    top: 7%;
    left: 40%;
  }

  /* logo */
  #logo {
    width: 30px;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .left--links {
    margin-left: 4%;
  }
  .left--links a {
    font-size: 1.9vh;
  }

  /****** hero-Section ******/
  #hero {
    margin-top: 6%;
  }
  .hero-intro h1 {
    font-size: 7vh;
    letter-spacing: 1px;
  }
  .hero-intro p {
    font-size: 2.5vh;
  }
  .hero-intro p span {
    font-size: 1.8vh;
    margin-top: 0px;
    float: right;
  }
  .calender-img {
    width: 17px;
  }

  /****** card-Section ******/
  #card {
    margin-top: -9%;
  }
  .card-intro {
    margin: 12%;
  }
  .card-intro h6 {
    font-size: 2vh;
    margin-bottom: 5%;
  }
  .card-intro .icon {
    width: 25px;
  }
  .card-intro .data {
    padding-top: 15%;
    padding-bottom: 1%;
  }
  .card-intro p {
    font-size: 2.5vh;
  }
  .card-intro p span {
    color: #999999;
  }

  /******** stats--Data-Section ********/
  #stats--data {
    margin-top: -8%;
    margin-bottom: 5%;
  }
  .stats--data-intro {
    margin: 3%;
    margin-bottom: 5%;
  }
  .stats--data-intro .card {
    margin-top: 0%;
  }
  .stats--data-intro h3 {
    font-size: 1.2rem;
  }
  .stats--data-intro h3 ion-icon {
    vertical-align: middle;
  }
  .stats--data-intro hr {
    margin-top: -1%;
    margin-bottom: 5%;
  }
  .stats--data-intro #initial_con {
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }
  .stats--data-intro #initial_con h6 {
    font-size: 1.2rem;
    padding-top: 22%;
  }
  .clients_sec small {
    font-size: 1rem;
  }
  .clients_sec a #initial_con {
    margin-top: 0%;
  }
  #clients--btn {
    font-size: 1.1rem;
  }
  #no_clients {
    letter-spacing: 1px;
    font-size: 1.2rem;
  }

  /* monthly-stats */
  #chart-icon {
    width: 32px;
    vertical-align: middle;
  }
  #dash-icon {
    width: 22px;
  }
  #monthly-stats h2 {
    font-size: 2vh;
    margin-top: 1%;
    margin-bottom: 2%;
  }
  #monthly-stats #coin-img {
    width: 22px;
  }
  #monthly-stats h2 #amount {
    font-size: 2.2vh;
  }
  #monthly-stats #reciept--img {
    width: 85px;
    margin-top: 2%;
  }
  #monthly-stats h5 {
    font-size: 2.1vh;
    margin-top: 6%;
  }
  #monthly-stats h5 span {
    font-size: 2.6vh;
  }
  #no_data {
    letter-spacing: 1px;
    font-size: 1.4rem;
    margin-bottom: -2%;
    margin-top: 1%;
  }
  .reciept {
    width: 150px !important;
    margin-top: 2%;
  }

  /****** hero-Section ******/
  /****** hero-Section ******/
  /****** hero-Section ******/
  /****** hero-Section ******/
}

/************************ Extra large devices (extra large desktops, 1900px and up) ********************************/
@media (min-width: 2000px) {
}
