{% load static %}
<!DOCTYPE html>
<html lang="en" class="js has-scroll-init has-scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Empower your invoicing experience with Swift Bill Invoice App."
    />
    <meta name="keywords" content="invoice app, billing, invoicing software" />

    <meta name="author" content="the_desiinger" />
    <link rel="icon" href="{% static '/images/favicon.svg' %}" />
    <title>Swift Bill | Home Page</title>

    <!-- Preload CSS -->
    <link href="{% static '/css/normalize.css' %}" />
    <link rel="preload" as="style" href="{% static '/css/main.css' %}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/main.css' %}" />

    <script>
      document.documentElement.className = "js";
      var supportsCssVars = function () {
        var e,
          t = document.createElement("style");
        return (
          (t.innerHTML = "root: { --tmp-var: bold; }"),
          document.head.appendChild(t),
          (e = !!(
            window.CSS &&
            window.CSS.supports &&
            window.CSS.supports("font-weight", "var(--tmp-var)")
          )),
          t.parentNode.removeChild(t),
          e
        );
      };
      supportsCssVars() ||
        alert(
          "Please view this work in a modern browser that supports CSS Variables."
        );
    </script>
  </head>
  <body
    id="pageTop"
    class="page-content"
    data-spy="scroll"
    data-target="#mainNav"
  >
    <!--======================== Main-Section ================================-->
    <!--======================== Nav-Section ================================-->
    <nav class="navbar navbar-expand-lg fixed-top menu" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img
            src="{% static '/images/swift_logo.svg' %}"
            class="img-fluid"
            id="logo"
            alt="logo"
          />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 left--links">
            <li class="nav-item">| Swift Bill Invoice</li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0" id="rightNav">
            <li class="nav-item dropdown">
              <a class="nav-link" href="{% url 'login' %}">
                <img
                  src="{% static 'images/lock.svg' %}"
                  class="img-fluid"
                  id="lock-img"
                  alt="lock-img"
                />
                login
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main>
      <!--=========================================== smooth-scroll-effect ===============================-->
      <div data-scroll class="page page--layout-2" id="main">
        <div class="content content--full content--alternate"></div>
        <!-- End content -->

        <!--=========================================== Hero-Text ===============================-->
        <div id="hero">
          <div class="container">
            <div class="hero-intro">
              <div class="row">
                <div class="col-md-6">
                  <span class="badge text-bg-secondary"
                    >Simplify Invoicing</span
                  >
                  <h1>Fast. Easy. Professional.</h1>
                  <p>
                    Streamline your billing process with our intuitive invoice
                    app. From creating professional invoices to tracking
                    payments, we make it easy for you to manage your finances,
                    so you can focus on growing your business.
                  </p>
                  <ul>
                    <li>
                      <img
                        src="{% static 'images/checkmark.svg' %}"
                        class="img-fluid"
                        id="checkmark-svg"
                        alt="checkmark-svg"
                      />
                      Create professional invoices in minutes.
                    </li>
                    <li>
                      <img
                        src="{% static 'images/checkmark.svg' %}"
                        class="img-fluid"
                        id="checkmark-svg"
                        alt="checkmark-svg"
                      />
                      Download, send, and track invoices seamlessly.
                    </li>
                    <li>
                      <img
                        src="{% static 'images/checkmark.svg' %}"
                        class="img-fluid"
                        id="checkmark-svg"
                        alt="checkmark-svg"
                      />
                      Generate detailed reports for financial insights
                    </li>
                  </ul>

                  <div id="action-btns">
                    <a href="{% url 'signup' %}" class="btn sign-up"
                      >Get Started</a
                    >
                    <a href="{% url 'login' %}" class="btn login"
                      ><span>Login</span></a
                    >
                  </div>
                  <!-- end action-btns -->
                </div>
                <!-- end col -->

                <div class="col-md-6 align-self-center">
                  <img
                    src="{% static 'images/index-img.png' %}"
                    id="index-img"
                    class="img-fluid"
                    alt="index-img"
                  />
                </div>
                <!-- end col -->
              </div>
              <!-- end row -->

              <!-- hero-footer -->
              <div id="hero-footer">
                <div class="row">
                  <div class="col-md-3">
                    <h6>
                      Start creating <span>with Swift Bill Invoice.</span>
                    </h6>
                  </div>
                  <!-- end col -->

                  <div class="col-md-9 align-self-center">
                    <img
                      src="{% static 'images/line.svg' %}"
                      class="img-fluid"
                      id="line-svg"
                      alt="line-svg"
                    />
                  </div>
                  <!-- end col -->
                </div>
                <!-- end row -->

                <div id="default--img">
                  <img
                    src="{% static 'images/invoice.webp' %}"
                    class="img-fluid"
                    id="default-invoice-img"
                    alt="default-invoice-img"
                  />
                </div>
                <!-- end default--img -->
              </div>
              <!-- end hero-footer -->
            </div>
            <!-- End hero-intro-->
          </div>
          <!-- End container -->
        </div>
        <!-- End hero -->
      </div>
      <!-- End page--layout -->
    </main>
    <!-- End Main-Section -->

    <!--=============================================== JavaScript ===================================-->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <!-- Custom Links -->
    <script src="{% static '/js/jquery-min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
  </body>
</html>
