{% load static %}
<!DOCTYPE html>
<html lang="en" class="js has-scroll-init has-scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Empower your invoicing experience with Swift Bill Invoice App."
    />
    <meta name="keywords" content="invoice app, billing, invoicing software" />

    <meta name="author" content="the_desiinger" />
    <link rel="icon" href="{% static '/images/favicon.svg' %}" />
    <title>Swift Bill | Login Page</title>

    <!-- Preload CSS -->
    <link href="{% static '/css/normalize.css' %}" />
    <link
      rel="preload"
      as="style"
      href="{% static '/css/login_register.css' %}"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/login_register.css' %}" />

    <!--  -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />

    <script>
      document.documentElement.className = "js";
      var supportsCssVars = function () {
        var e,
          t = document.createElement("style");
        return (
          (t.innerHTML = "root: { --tmp-var: bold; }"),
          document.head.appendChild(t),
          (e = !!(
            window.CSS &&
            window.CSS.supports &&
            window.CSS.supports("font-weight", "var(--tmp-var)")
          )),
          t.parentNode.removeChild(t),
          e
        );
      };
      supportsCssVars() ||
        alert(
          "Please view this work in a modern browser that supports CSS Variables."
        );
    </script>
  </head>
  <body
    id="pageTop"
    class="page-content"
    data-spy="scroll"
    data-target="#mainNav"
  >
    <!--======================== Main-Section ================================-->
    <main>
      <!-- Show django messages -->
      {% include 'toast.html' %}
      <!--  end django message -->

      <!--=========================================== smooth-scroll-effect ===============================-->
      <div data-scroll class="page page--layout-2" id="main">
        <div class="content content--full content--alternate"></div>
        <!-- End content -->

        <!--=========================================== Hero-Text ===============================-->
        <div id="hero">
          <div class="container-fluid">
            <div class="hero-intro">
              <a href="javascript:history.back()">
                <img
                  src="{% static '/images/left.png' %}"
                  class="img-fluid"
                  id="return_back"
                  alt="return_back-img"
                />
              </a>

              <div class="card d-flex mx-auto" id="login-card">
                <div class="card-body">
                  <h1>Welcome Back</h1>
                  <p>
                    Enter your details to access your
                    <span>Swift-Bill account</span>.
                  </p>
                  <hr id="line" />
                  <!--  -->
                  <form
                    class="row g-3"
                    action="{% url 'login' %}"
                    method="POST"
                  >
                    {% csrf_token %}
                    <div class="col-12">
                      <label for="inputUsername" class="form-label"
                        >Username</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-lg"
                        id="inputUsername"
                        name="username"
                        placeholder="enter your username"
                      />
                    </div>
                    <!-- end form-group -->

                    <div class="col-12" id="form-group">
                      <label for="InputPassword" class="form-label"
                        >Password</label
                      >
                      <a href="{% url 'reset_password' %}"
                        ><span>Forgot Password?</span></a
                      >
                      <input
                        type="password"
                        class="form-control form-control-lg"
                        id="InputPassword"
                        name="password"
                        value="enter your password"
                      />
                      <span
                        toggle="#InputPassword"
                        class="fa fa-fw fa-eye-slash field-icon toggle-password"
                      ></span>
                    </div>
                    <!-- end form-group -->

                    <button type="submit" class="btn" id="submit_btn">
                      Sign in
                    </button>
                  </form>
                  <!-- end form -->

                  <h6>
                    Not Registered?
                    <a href="{% url 'signup' %}">Create an Account</a>
                  </h6>
                </div>
                <!-- end card-body -->
              </div>
              <!-- end login-card -->
            </div>
            <!-- End hero-intro-->
          </div>
          <!-- End container-fluid -->
        </div>
        <!-- End hero -->
      </div>
      <!-- End page--layout -->
    </main>
    <!-- End Main-Section -->

    <!--=============================================== JavaScript ===================================-->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <!-- Custom Links -->
    <script src="{% static '/js/jquery-min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/login_register.js' %}"></script>
  </body>
</html>
