{% load static %}
<!DOCTYPE html>
<html lang="en" class="js has-scroll-init has-scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Empower your invoicing experience with Swift Bill Invoice App."
    />
    <meta name="keywords" content="invoice app, billing, invoicing software" />

    <meta name="author" content="the_desiinger" />
    <link rel="icon" href="{% static '/images/favicon.svg' %}" />
    <title>Swift Bill | Welcome Page</title>

    <!-- Preload CSS -->
    <link href="{% static '/css/normalize.css' %}" />
    <link rel="preload" as="style" href="{% static '/css/welcome_msg.css' %}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/welcome_msg.css' %}" />

    <script>
      document.documentElement.className = "js";
      var supportsCssVars = function () {
        var e,
          t = document.createElement("style");
        return (
          (t.innerHTML = "root: { --tmp-var: bold; }"),
          document.head.appendChild(t),
          (e = !!(
            window.CSS &&
            window.CSS.supports &&
            window.CSS.supports("font-weight", "var(--tmp-var)")
          )),
          t.parentNode.removeChild(t),
          e
        );
      };
      supportsCssVars() ||
        alert(
          "Please view this work in a modern browser that supports CSS Variables."
        );
    </script>
  </head>
  <body
    id="pageTop"
    class="page-content"
    data-spy="scroll"
    data-target="#mainNav"
  >
    <!--======================== Main-Section ================================-->
    <main>
      <!--=========================================== smooth-scroll-effect ===============================-->
      <div data-scroll class="page page--layout-2" id="main">
        <div class="content content--full content--alternate"></div>
        <!-- End content -->

        <!--=========================================== Hero-Text ===============================-->
        <div id="hero">
          <div class="container-fluid">
            <div class="hero-intro">
              <div id="content-card">
                <div class="card">
                  <div class="card-body">
                    <h2>Welcome to Swift Bill Invoice</h2>

                    <ul class="ul-intro">
                      <li>
                        <h6>
                          <img
                            src="{% static 'images/clients.png' %}"
                            class="img-fluid"
                            id="clients--img"
                            alt="clients--img"
                          />
                          <div class="text-container">
                            Clients
                            <span>
                              Transfer funds across borders using any of the
                              available payment methods on the app.
                            </span>
                          </div>
                        </h6>
                      </li>
                      <!--  -->

                      <li>
                        <h6>
                          <img
                            src="{% static 'images/receipt.png' %}"
                            class="img-fluid"
                            id="clients--img"
                            alt="clients--img"
                          />
                          <div class="text-container">
                            Invoice
                            <span>
                              Add and/or edit the information of people who
                              receive money from you.
                            </span>
                          </div>
                        </h6>
                      </li>
                      <!--  -->

                      <li>
                        <h6>
                          <img
                            src="{% static 'images/dashboard.png' %}"
                            class="img-fluid"
                            id="clients--img"
                            alt="clients--img"
                          />
                          <div class="text-container">
                            Transactions
                            <span>
                              Check the details and status of all your payments
                              in one dashboard
                            </span>
                          </div>
                        </h6>
                      </li>
                      <!--  -->

                      <li>
                        <h6>
                          <img
                            src="{% static 'images/profile.png' %}"
                            class="img-fluid"
                            id="clients--img"
                            alt="clients--img"
                          />
                          <div class="text-container">
                            Profile
                            <span>
                              Find your personal details provided during signup.
                              Easily update your info antime.
                            </span>
                          </div>
                        </h6>
                      </li>
                      <!--  -->
                    </ul>
                    <!-- end ul-intro -->

                    <!--  -->
                    <div class="d-grid gap-2">
                      <a
                        href="{% url 'clients' %}"
                        class="btn welcome--btn"
                        type="button"
                        >Okay</a
                      >
                    </div>
                    <!--  -->
                  </div>
                  <!-- end card-body -->
                </div>
                <!-- end card -->
              </div>
              <!-- end content-card -->
            </div>
            <!-- End hero-intro-->
          </div>
          <!-- End container-fluid -->
        </div>
        <!-- End hero -->
      </div>
      <!-- End page--layout -->
    </main>
    <!-- End Main-Section -->

    <!--=============================================== JavaScript ===================================-->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <!-- Custom Links -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="{% static '/js/jquery-min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/welcome_msg.js' %}"></script>
  </body>
</html>
